## sqlalchemy

In [5]:
from sqlalchemy import create_engine 

# engine = create_engine('sqlite:///data.db')
engine = create_engine('mysql+pymysql://dt:1234@15.164.153.191:3306/dt')

In [4]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     ---------------------------------------- 43.7/43.7 kB 1.0 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3
Note: you may need to restart the kernel to use updated packages.

In [8]:
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base() 

from sqlalchemy import Column, Integer, String, DateTime

class Emp(Base):
    __tablename__ = 'emp'
    
    empno = Column(Integer, primary_key=True)
    ename = Column(String(10), nullable=True)
    job = Column(String(9), nullable=True)
    mgr = Column(Integer, nullable=True)
    hiredate = Column(DateTime, nullable=True)
    sal = Column(Integer, nullable=True)
    comm = Column(Integer, nullable=True)
    deptno = Column(Integer, nullable=True)
    
from sqlalchemy.orm import scoped_session, sessionmaker

db_session = scoped_session(
    sessionmaker(
        bind=engine, autocommit=False, autoflush=False))    

emp_list = db_session.query(Emp).all()
for emp in emp_list:
    print(emp.ename,emp.job,emp.mgr)

SMITH CLERK 7902
ALLEN SALESMAN 7698
WARD SALESMAN 7698
JONES MANAGER 7839
MARTIN SALESMAN 7698
BLAKE MANAGER 7839
CLARK MANAGER 7839
SCOTT ANALYST 7566
KING PRESIDENT None
TURNER SALESMAN 7698
ADAMS CLERK 7788
JAMES CLERK 7698
FORD ANALYST 7566
MILLER CLERK 7782